<nav>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" style="color: white;" href="/index.html">Punya</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li><a href="/index.html#overview">Overview</a></li>
          <li><a href="/index.html#use-cases">Use Cases</a></li>
	        <!--<li><a href="#publications">Publications</a></li>
              <li><a href="#platform">Platform</a></li> -->
          <li><a href="/index.html#quickstart">Quick Start</a></li> 
          <li><a href="/tutorials/">Tutorials</a></li>
          <!-- <li><a href="challenge/">ISWC'21 Challenge</a></li> -->
          <li><a href="/index.html#contact">Contact</a></li>          
        </ul>
      </div>
    </div>
  </div>
</div>
</nav>
{%- if layout.header -%}
<header>
  <div class="hero-unit">
    <h1>Punya</h1>
    <p class="abbr"><span>Pu</span>nya is <span>n</span>ot <span>y</span>our <span>a</span>verage app</p>
  </div>
</header>
{%- endif -%}
