.bg-punya {
    background-color: #4F81BD;
}

section h2, h4 {
    border-bottom: 1px solid #DEE2E6;
    padding-bottom: 6px;
    margin-bottom: 10px;
}

p.lead span {
    color: #FCFFB0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

