/* -*- mode: css; css-indent-offset: 2; -*- */
body{padding-top: 40px;padding-bottom:40px;min-width:768px;}
.hero-unit{text-align:center;}

/*------------------------------------------------*/
/*	Quote
/*------------------------------------------------*/
blockquote {
font-family: Georgia, serif;
font-size: 13px;
font-style: italic;
width: 300px;
margin: 0.25em 0;
padding: 0.35em 40px;
line-height: 1.45;
position: relative;
color: #383838;
}

/*------------------------------------------------*/
/*	Slider Styles
/*------------------------------------------------*/

#slider{width:100%;margin-top:20px;float:left;position:relative;z-index:2;display:none;}
.slider-wrap {width:940px;position:relative;z-index:1;overflow:hidden;}
#slider .hentry{margin:0;}
#slider .entry-content{width:940px;border:none;padding:0;}
#slider .entry-content a {border: none;}

#slider img.alignright { margin: 10px 0 0 20px; }
#slider img.alignleft { margin: 10px 25px 0 0; }

.slides-nav {width: 940px;float: left;}

/* Pagination */
.pagination{width:80px;margin:0 auto;}
.pagination li{float:left;list-style:none;margin:0 1px;}
.pagination li a{display:block;width:12px;height:0;padding-top:12px;background-image:url(images/slider/pagination.png);background-position:0 0;float:left;overflow:hidden;}
.pagination li.current a{background-position:0 -12px;}

/* Slider Content */
.slide-content {margin-top:50px;}
.slide-content h3 {color:#585858;font-size:18px;}
.slide-content p {color:#727272;text-align: justify;}
.slide-content p:first-of-type {margin-top:20px;}

.slide-button  {margin-top:5px;}
.slide-button .fadeThis {position:relative;display:block;height: 42px;width: 140px;background:url(images/button-slider.png) 0 0 no-repeat;}
.slide-button .hover {position: absolute;top: 0;left: 0;display: none;height: 42px;width: 140px;background:url(images/button-slider.png) 0 -42px no-repeat;}

/*------------------------------------------------*/
/*	Call to Action
/*------------------------------------------------*/

.cta-wrap{width:100%;height:160px;background:#272727;margin-top:20px;}
.cta-wrap-small{height:5px;}
#call-to-action {padding-top:20px;}
#call-to-action  h2 {color:#999;font-size:46px;margin-bottom:0;}
#call-to-action .white {color:#fff;}

.cta-line {height:60px;background:url(images/line.png) 0px 30px repeat-x;}
.cta-button {position:relative;top:10px;}
.cta-button .fadeThis {position:relative;display:block;height: 42px;width: 140px;background:url(images/button-cta.png) 0 0 no-repeat;}
.cta-button .hover {position: absolute;top: 0;left: 0;display: none;height: 42px;width: 140px;background:url(images/button-cta.png) 0 -42px no-repeat;}

header div.hero-unit {
  padding: 25px;
}

header h1 {
  font-size: 50px;
  line-height: 1;
  margin-bottom: 9px;
}

p.abbr {
  font-size: 25px;
  line-height: 36px;
  margin-left: 5%;
  margin-right: 5%;
}
p.abbr span {
  color: #FCFFB0;
}
img.max-width {
  max-width: 100%;
}
p.caption {
  font-style: italic;
}
footer {
  border-top: 1px solid #eee;
  padding: 18px 0;
  margin: 18px 0;
}

.container h1, .container h3 {
  margin: 18px 0;
  padding-bottom: 6px;
  border-bottom: 1px solid #eee;
}
