<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.html -%}

  <body>
    {%- include header.html -%}
    <main>
      <div class="container">
        {{ content }}
      </div>
    </main>
    <div class="container">
      {%- include footer.html -%}
    </div>
    <script type="text/javascript" src="/static/jquery-latest.pack.js"></script>
    <script src="/static/bootstrap.min.js"></script>
    <script src="/static/bootstrap-tooltip.js"></script>
    <script src="/static/bootstrap-popover.js"></script>
  </body>

</html>
